{% extends "base.html" %}
{% block %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Twitter Toplinks</title>

  <!-- Bootstrap core CSS -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Twitter Toplinks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        	{% if user %}
          <li class="nav-item">
            <a class="nav-link" href="/tweets">Tweets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="margin-top: 7em; ">

      	<ul class="list-unstyled" style="text-align: left;">
          <li>Can be used to analyze most used links in tweets</li>
          <li>Made by Pawan Jain</li>
          <li>You will get whole source code here</li>
        </ul>

        <h3 style="margin-top: 2em; text-align: left;">ENDPOINTS MANUAL</h3>
        <ol class="list-unstyled" style="text-align: left; " >
            <li>1. You should see login via twitter image at the homepage</li>
            <li>2. Authorize twitter for app (Oh! Comeon it's just get publicly available data) </li>

            <br>
            <li><b>/tweets</b> : Show tweets that have links. Click on next to see more</li>
            <li><b>/analyze</b> : You get the user sharing most links and the top shared links too</li>
            <li><b>/logout</b> : Finally to get rid of that thing :) </li>
            <li><b>/error</b> : If you messed up something (like trying to analyze before logging in :p )</li>
          </ol>

{% endblock %}   